.job-wrapper {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    width: 100%;
    height: auto;
    background: white;
    margin:35px 0 0 0;
    border-radius: 5px;
    padding: 10px;
    i.fa{
        display: none;
    }
    img {
      display: block;
      height: 75px;
    }
    h5 {
      font-weight: 500;
      color: #2d2d2d;
      text-align: left;
      a{
          
      font-size: 15px;
      }
    }
    h6{
      font-size: 14px;
      font-weight: normal;
      text-align: left;
      margin-top: -5px !important;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      text-align: left;
      font-size: 15px;
      color: #717171;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      li {
        background: #e7eef9;
        padding: 6px 12px;
        font-size: 13px;
        border-radius: 5px;
        color: #0b68ff;
        margin-right: 8px;
        font-weight: 500;
      }
    }
    span{
        display: none;
    }
  
    button {
      padding: 6px 0;
      width: 100%;
      border: none;
      font-size: 14px;
      border-radius: 5px;
      &.apply {
        background: #0b68ff;
        color: white;
      }
      &.message {
        background: #f1eff1;
        color: black;
      }
    }
  
    @media only screen and (max-width: 768px) {
      .img-title-wrap {
        display: flex;
        flex-direction: row;
        position: relative;
  
        i.fa{
          position: absolute;
          right: 0;
          border: 1px solid #eee;
          padding: 5px;
          border-radius: 5px;
          color: grey;
          display: block;
          top:0;
        }
  
        img {
          display: inline-block;
          height: 45px;
          margin-right: 20px;
        }
        .title-loc {
          h5 {
            font-size: 17px;
            margin: 0 0 5px !important;
          }
          h6 {
            margin: 0 !important;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
      p{
          display: none;
      }
  
      ul{
          margin-top: 15px;
          li:first-child{
              color: red;
          }
          li:nth-child(2){
             display: none;
          }
      }
      .btn-wrap{
          display: none;
      }
      span{
          display: block;
      position: absolute;
      right: 0;
      top: 5px;
      color: #0b68ff;
      font-size: 13px;
      font-weight: 700;
      i{
          color: grey;
          font-style: normal;
      }
      }
    }
  }
  