
.detail-container{
    min-height: calc(100vh - 156px);
.details_wrapper {
    padding-top: 80px;
    position: relative;
    .btn.btn-secondary{
        position: absolute;
        right:5px;
        z-index: 1;
        background: #786ad4;
        border: none;
        bottom: 5px;
    }
    .img-profile {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            border: 7px solid #ffffff;
            height: 100px;
            position: absolute;
            top: -60px;
            width: 100px;
            border-radius: 50%;
            z-index: 10;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
        }
    }
  .block-about {
    padding: 50px 50px 46px;
    position: relative;
    box-sizing: border-box;
    /* display: table-cell; */
    width: 100%;
    background: #f0f0f0;
    .title {
      font-size: 25px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: #199cdb;
        height: 2px;
        left: 0;
        top: -20px;
        width: 30px;
      }
    }
    .mt-40 {
      margin-top: 25px !important;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        line-height: 27px;
        span {
          color: #333333;
          font-weight: 500;
        }
      }
    }
    &.bg-grey-1 {
      background: #f5f5f5;
    }
    .block-expertise {
      .mb-20 {
        margin-bottom: 20px !important;
      }
      .expertise{
          margin-top: 20px;
      }
      .exp-ico,
      .exp-det {
        float: left;
      }
      .exp-ico span.ico {
        color: #d0d0d0;
        display: inline-block;
        font-size: 32px;
        font-weight: 100 !important;
        line-height: 30px;
        margin-right: 15px;
        position: relative;
        text-align: center;
        width: 40px;
      }
      .exp-det {
        width: 225px;
        border-bottom: 1px solid #e6e6e6;
        margin-left: 10px;
        padding-bottom: 10px;
        h6 {
          margin-bottom: 5px;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

}